body{
    margin: 0;
    background: #e6e6e6;
    font-family: Georgia,  serif;
}

header{
    background: black;
    text-align: center;
    padding: 40px;
}

header h1{
    font-family:'Righteous', sans-serif;
    color: salmon;
    font-size: 40px;
    margin: 0;
}

nav{
    background: salmon;
    padding: 10px;
}

nav a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main{
    width: 900px;
    margin: auto;
    background: white;
    padding: 30px;
}

.hero{
    text-align: center;
}

.hero img{
    width: 70%;
}


.locations h2{
    font-family: 'Righteous', sans-serif;
    font-size: 30px;
}

#sales-data article{
    margin: bottom 40px;
}

#sales-data h2{
    font-family: 'Righteous', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

footer{
    background: #ddd;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
